h1 style {
    background-color: aliceblue;
    background-origin: padding-box;
    border: 0cm;
};
b style {
    background-color: aquamarine;
    height: auto;
    padding: 100px;
    border: 0cm;
};
i style {
    background-color: aqua;
    border-radius: 0%;
    text-align:center;
};